<form id="myForm" class="panel" onsubmit="myFunc(); return false;">
    <label for="user">
      Ваше имя:
    </label>
    <input id="user" type="text" />
    <label for="message">
      Сообщение:
    </label>
    <input id="message" type="text" />
    <div class="btn-container">
      <button class="button" type="submit">
        Сохранить
      </button>
    </div>
</form>
{{#each post}}
  <div class="panel">
    <p>
      гость: {{this.user}}
    </p>
    <p>
      {{this.message}}
    </p>
  </div>
{{/each}}

<script>
  function myFunc() {
    var user = document.getElementById("user").value;
    var message = document.getElementById("message").value;
    console.log("user: " + user + "\r\nmessage: " + message);
    const json = {
      "user": user,
      "message": message
    };
    const http = new XMLHttpRequest();
    const url='/posts';
    http.open("POST", url);
    http.setRequestHeader("Content-type", "application/json");
    http.send(JSON.stringify(json));
    http.onload = () => {
        // print JSON response
        if (http.status >= 200 && http.status < 300) {
            // parse JSON
            const response = JSON.parse(http.responseText);
            console.log(response);
            location.reload();
        }
    };
  }
</script>