.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}
.container {
  width:90vw;
  min-width: 370px;
  min-height: 100vh;
}
.card {
  padding: 1rem;
}
header, footer {
  text-align: center;
  width: 88vw;
  background-color: transparent;
}
input.clean {
  outline-width: 0;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
input.clean:focus {
  outline-width: 0;
  text-align: center;
  font-weight: bold;
  cursor: text;
}

.paginator {
  align-items: baseline;
  justify-content: center;
  bottom: 1rem;
}