@font-face {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 400;
  src: local("Exo 2"), local("Exo2-Regular"), url(https://fonts.gstatic.com/s/exo2/v3/5wNWQyMFSso70eLBsy32FQ.woff2) format("woff2");
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #000;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  overflow-x: hidden;
}
* {
  font-family: "Exo 2", sans-serif;
}
